<!--pages/templates/pages/home.html -->

{% extends "base.html" %}

{% block page_content %}
    <p>Please type the book name to search...</p>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <!--<input class="form-control m-3 w-50 mx-auto" type="text" name="book_name" id="book_name">
        <input class="btn btn-primary btn-lg my-3" type="submit" value="SEARCH">
        <label for="your_name">Your name: </label>
        <input id="your_name" type="text" name="your_name" value="{{ current_name }}">-->
        <input type="submit" value="Submit">



    </form>
{% endblock page_content %}
